<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="MonApp">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

  <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>

    <input type="text" ng-model="query"/>
    <select ng-model="order">
        <option value="username">Ordre par nom</option>
        <option value="content">Ordre par contenus</option>
    </select>

    <div ng-controller="CommentsCtrl">

    <div ng-repeat="comment in comments | filter:{username:query} | orderBy:order">

    <p>
        <strong>{{comment.username}}</strong><br>
        {{comment.content}}
    </p>

    </div>

    </div>
    
    
    <script>

        var app = angular.module('MonApp', [] );
        app.config(function($routeP))

        app.controller('CommentsCtrl', function($scope){

            $scope.comments = [

  {
    "username": "Marsh Kirkland",
    "content": "Magna reprehenderit reprehenderit elit quis Lorem commodo aute velit aute culpa. Officia minim sunt minim nisi exercitation id sint ullamco deserunt qui voluptate pariatur cillum."
  },
  {
    "username": "Jaime Dickerson",
    "content": "Cupidatat eiusmod consectetur amet esse ullamco veniam minim minim culpa. Excepteur adipisicing duis aliqua enim laboris eiusmod nulla."
  },
  {
    "username": "Jordan Kirk",
    "content": "Consequat esse cupidatat ipsum ea non. Occaecat velit do in irure fugiat qui culpa voluptate occaecat."
  },
  {
    "username": "Debora Brooks",
    "content": "Aliqua dolore commodo cillum veniam. Proident non culpa pariatur consectetur in laboris do amet."
  },
  {
    "username": "Huber Roman",
    "content": "Consequat duis nostrud labore sint mollit fugiat ullamco consectetur nostrud. Excepteur excepteur culpa sint adipisicing eiusmod labore."
  }
];
    }
    </script>



    
</body>
</html>